<h2 class="mat-display-1 vertical-bullet-text border-color-of-theme">{{ 'Support' | uppercase }}</h2>
<section class="mat-subheading-1">
	<h3 class="mat-headline">Call for sponsorships</h3>
	<p>
		BTBA is recognized by the IRS as a 501(c)3 nonprofit organization. Your donation to BTBA is tax deductible to the full extent of the law. For the past 10 years, BTBA has successfully created a thriving community that attracts hundreds of talents in the biology-related or health-related fields to learn and grow together. Your donation and support will help us host annual symposia, seminars, workshops, and social events to enhance scientific collaborations, to foster career development, and to encourage in-depth communication and connection.
	</p>
	<ul>
		<li>BTBA Annaul Symposium is an incredible opportunity for coporates to market your brands, reach and recruit talents, and increase their visibility and public reputation.</li>
		<li>Our sponsorship packages and benefits are as follows.</li>
	</ul>

	<div class="mat-elevation-z1" style="overflow-x:auto">
		<md-table #table [dataSource]="sponsorTabledataSource" style="min-width: fit-content; text-align: center;">
			<ng-container *ngFor="let column of referenceColumns; let idx = index" mdColumnDef="{{column}}">
				<md-header-cell *mdHeaderCellDef class="text-color-of-theme" [innerHTML]="displayedColumns[idx] | nl2br"></md-header-cell>
				<md-cell *mdCellDef="let element" class="text-color-of-theme"> {{ element[column] }} </md-cell>
			</ng-container>
			<md-header-row *mdHeaderRowDef="referenceColumns"></md-header-row>
			<md-row *mdRowDef="let row; columns: referenceColumns;"></md-row>
		</md-table>
	</div>
    <p>
		<sup>*</sup>The podcast team retains the final editorial rights over ad scripts.
	</p>
	<ul>
		<li>Please contact us (btba@btbatw.org) for more information.</li>
	</ul>

	<div fxLayoutAlign="center" style="margin-bottom: 1.5em">
		<button md-raised-button color="accent"
			(click)="goToLink(symposium.host.supportLink)">{{ 'support ' + symposium.host.nameShort | uppercase }}</button>
	</div>

	<h3 class="mat-headline">Our sponsors</h3>
	<div fxLayout fxLayoutWrap fxLayoutAlign="space-around center" class="container-sponsor-imgs">
		<div *ngFor="let sponsor of symposium.sponsor.sponsors" fxFlex.xs="50" fxFlex="33%"
			(click)="goToLink(sponsor.link)" class="clickable">
			<img [src]="'assets/img/sponsors/' + sponsor.logoUrl" alt="" [style.width]="'100%'">
		</div>
	</div>

</section>
