<h2 class="mat-display-1 vertical-bullet-text border-color-of-theme">{{ 'Merchandise' | uppercase }}</h2>
<section class="mat-subheading-1">
	<p>
		Get your exclusive BTBA 14th Symposium souvenir! This special offer includes a limited-edition BTBA coaster (available in green or brown), thoughtfully designed to commemorate our prestigious event. Your purchase not only gives you a meaningful keepsake from this memorable occasion, but also supports the continued operation and programming of BTBA. Items are available for pick-up only at the BTBA Annual Symposium and are non-refundable once received. Purchase your set through the <a href="https://buytickets.at/btba/2137594" target="_blank">ticket sale link</a>. 
		Don't miss out on this limited-edition release!
	</p>
	<div (click)="goToLink('https://buytickets.at/btba/2137594')" class="clickable mat-elevation-z1"><img
			src="assets/img/merch/2026.png" alt="" [style.width]="'100%'"></div>
	<p>(The images are for reference only.)</p>
</section>
