<h2 class="mat-display-1 vertical-bullet-text border-color-of-theme">
	{{ symposium.submission.title | uppercase }}
</h2>
<div class="mat-subheading-1" id="elevator">


	<h3 class="mat-headline" style="margin-top:1.5em">
		Posters and Short Talks
	</h3>
	<p>
		We welcome everyone in the broadly defined fields of biomedical studies, life sciences, biology, and biotechnology 
		to present their work in the BTBA Annual Symposium. The BTBA Annual Symposium brings together people from a variety 
		of professional backgrounds and bridges expertise across fields. This would be an excellent venue for you to share 
		your research beyond your specific scope of study, to discuss and brainstorm with other professionals, and to 
		establish potential collaborations.
	</p>
	<p>
		Poster presenters will be eligible for “Best Poster Awards” and “Audience Choice Award”. In addition, 3 posters
		from the applications will be selected for oral presentations at the symposium. The selected presenters will be
		awarded a gift card ($30 in value) and their registration fee will be waived.
	</p>
	<p>
		Please note: due to space limitations, a person can only submit one poster abstract and be the main presenting
		author on one poster. (You can be co-authors on multiple posters but can only be the main presenter of ONE
		poster.)
	</p>

	<h3 class="mat-headline" style="margin-top:1.5em">
		Abstract Submission
	</h3>
	<p>
		<strong>Step 1:</strong> Please prepare your abstract submission using the template.
		<a href="https://docs.google.com/document/d/16AKuPIwTnIKqsP36O6rQnxENj3ZsMOahm5SqRZYmMY0/edit?fbclid=IwY2xjawRSmsBleHRuA2FlbQIxMABicmlkETFHRmVJMWl4cnlyOU5pUldMc3J0YwZhcHBfaWQQMjIyMDM5MTc4ODIwMDg5MgABHvRk5ZQZGQQIvYtA_zfVhGR9oHKRb0SMEDcHFbFO5ah2sHQYRNWyc46UXp-C_aem_3C_fwhVtWDQv4gYIx3XHkQ&tab=t.0">
			Download MS-Word Template.
		</a>
	</p>
	<p>
		<strong>Step 2:</strong> Fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLSddceAFwPhM2QJA7nlE9Z6XIXj0wgsUIqObpWb4wIVsGi_Wag/viewform?fbclid=IwY2xjawQ6rGxleHRuA2FlbQIxMABicmlkETE4N2puY0tTT0dTeXhOTXRFc3J0YwZhcHBfaWQQMjIyMDM5MTc4ODIwMDg5MgABHoAMB2HlphkgBijx_TNF3-r2QrqwqwerLDe0yB3Dn4Qd5W366L-xMMzapr2M_aem_sTpEsGpbOnlzU-LImiPUOQ&fbclid=IwY2xjawRSmuNleHRuA2FlbQIxMABicmlkETFHRmVJMWl4cnlyOU5pUldMc3J0YwZhcHBfaWQQMjIyMDM5MTc4ODIwMDg5MgABHq-dq4MduQuBU3tgwaSf1u5IbZBEh-RzwXRx8aWsntxInmi7qfR9Jr4zGACM_aem_rXEv2sFSMmZiIhWGBvWFdA">the submission form</a> and
		upload your abstract when submitting the form.
	</p>

	<h3 class="mat-headline" style="margin-top:1.5em">Abstract Submission Key Dates</h3>
	<ul>
		<li>May 24, 2026: Abstract Submission Deadline (closes at 11:59 pm EDT)</li>
		<li>Jun 7, 2026: Oral Presentation Winners Notifications</li>
	</ul>

</div>
